@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  transition-timing-function: linear;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-family: theme(fontFamily.poppins);
  -moz-user-select: none;
  user-select: none;
}

body *::-webkit-scrollbar {
  display: none;
}
